<div class="container" *ngIf="userWelcomeDetail; else errorSection">
  <div class="jumbotron text-center">
    <h1>Welcome {{userWelcomeDetail.name}}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>There are {{userWelcomeDetail.numberOfVowelsInName}} vowels in your first name</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>You are {{userWelcomeDetail.age}} years old and your next birthday is in {{ userWelcomeDetail.daysUntilNextBirthday }} days</p>    </div>
    </div>
  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let dates of userWelcomeDetail.datesBeforeNextBirthday | chunk: 7">
        <td *ngFor="let date of dates" class="text-center">
          <a [href]="'https://www.historynet.com/today-in-history/' + (date | date:'MMMM-dd')" target="_blank">{{ date | date:'EEE dd' }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #errorSection>
  <div class="alert alert-danger" *ngIf="error.message">
    <p>{{ error.message }}</p>
  </div>
</ng-template>
