<div class="container" *ngIf="userWelcomeDetail; else errorSection">
  <div class="jumbotron text-center">
    <h1>Welcome {{userWelcomeDetail.name}}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>There are {{userWelcomeDetail.numberOfVowelsInName}} vowels in your first name</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>You are {{userWelcomeDetail.age}} years old</p>
    </div>
  </div>
</div>
<ng-template #errorSection>
  <div class="alert alert-danger" *ngIf="error.message">
    <p>{{ error.message }}</p>
  </div>
</ng-template>
