<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-group">
  <div>
    <label for="textInput">Full Name:</label>
    <input type="text" class="form-control form-outline w-25" formControlName="fullName" placeholder="Enter full name">
  </div>
  <br />
  <div>
    <label for="dateInput">Date Of Birth:</label>
    <input type="date" class="form-control form-outline w-25" formControlName="dateOfBirth" placeholder="Select a date">
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
